html {
    height: 100%; /*#F5F5F5*/
    background-color: white;
}

body {
    height: 100%;
    margin: 0px;
}

.navbar {
   box-shadow: -1px -3px 8px gray;
   text-align: center;
   list-style-type: none;
   margin: 0;
   padding: 15px;
   overflow: hidden;
   background-color: white;
}
.navbar .title {
   font-size: 16px;
   font-family: 'Montserrat', sans-serif;
   display: inline-block;
   color: #1d1e22;
   text-align: center;
   padding: 18px 20px;
   text-decoration: none;
}
/*.nav a {
   display: inline-block;
   color: white;
   text-align: center;
   padding: 20px 10px;
   text-decoration: none;
   font-family: Monospace;
   font-size: 13px;
}*/
.navbar a {
   margin-left: -12px;
   color: white;
   font-size: 6px;
   font-family: 'Montserrat', sans-serif;
}

/*save #38424d */
.home {
    color: #FF0000;
}
.home .description {
    width: 350px;
    margin: auto;
}
.home .description .ucapan {
    margin-bottom: 20px;
    margin-top: 50px;
    font-size: 19px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.home .description .text-1 {
     margin-left: -16px;
     padding: 15px;
     color: black;
     letter-spacing: 1px;
     font-weight: 500;
     margin-top: -5px;
     font-size: 22px;
     font-family: 'Poppins';
}
.home .description .text-2 {
     padding-top: 15px;
     color: #1d1e22;
     line-height: 1.2;
     font-weight: 400;
     margin-top: -5px;
     font-size: 14px;
     font-family: 'Poppins';
}
.warning {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 320px;
  margin-top: 15px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #FEF7D1;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
}
.warning__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}
.warning__icon path {
  fill: #F7C752;
}
.warning__title {
  font-weight: 500;
  font-size: 14px;
  color: #755118;
}

.button-list {
    margin-top: 20px;
}
.button-list a {
     margin-left: 15px;
     color: #1d1e22;
}
.button-list .button {
    display: inline-block;
    margin-left: 15px;
    margin-top: 0px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    border-radius: 50px;
    background-color: #FF0000;
    color: white;
    font-family: 'Poppins';
    text-decoration: none;
}

footer {
    font-family: Monospace;
    margin-top: 200px;
    text-align: center;
    padding: 30px;
}
footer a i {
    margin-left: 15px;
     color: #1d1e22;
}

@media (min-width: 400px) {
    .navbar .title {
        font-size: 20px;
        padding: 14px 16px;
    }
     .home .description .text-2 span{
     margin-top: -5px;
     letter-spacing: 2px;
     font-weight: 400;
     font-size: 22px;
     }
}

@media (min-width: 900px) {
    .navbar .title {
        padding: 30px 86px;
        font-size: 45px;
    }
    .navbar a {
    margin-left: -80px;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    }
    .home {
    padding: 50px;
    }
    .home .description {
    width: 900px;
    margin: auto;
    }
    .home .description .ucapan {
    color: #FF0000;
    margin-bottom: 20px;
    margin-top: 100px;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    }
    .home .description .text-1 {
     width: 400px;
     margin-left: -16px;
     color: #1d1e22;
     letter-spacing: 1px;
     font-weight: 500;
     margin-top: -5px;
     font-size: 27px;
     font-family: 'Poppins';
     }
    .home .description .text-2 {
     width: 400px;
     float: right;
     margin-right: -16px;
     padding: 50px;
     margin-top: -245px;
     color: #1d1e22;
     line-height: 1.2;
     font-weight: 400;
     font-size: 20px;
     font-family: 'Poppins';
     }
     .button-list .button {
     margin-left: 50px;
     display: inline-block;
     padding: 5px 30px;
     font-size: 14px;
     font-weight: 700;
     line-height: 40px;
     border-radius: 50px;
     background-color: #FF0000;
     color: white;
     text-decoration: none;
     }
}